spring.application.name=media
#server.port=8085 # configure port
#spring.h2.console.enabled=true
#spring.datasource.generate-unique-name=false
#spring.datasource.name=mediaApp
spring.datasource.url=jdbc:mariadb://localhost:3306/MediaApp
spring.datasource.username=
spring.datasource.password=
spring.datasource.driver-class-name=org.mariadb.jdbc.Driver
spring.jpa.hibernate.ddl-auto=create-drop